body {
  background-color: #FEFBEA;
}
h1 {
text-align:center;
color: #28112B;
font-family: "times new roman", serif;
font-size: 2em;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  overflow: hidden;
  background-color: #B54C78
}

li.nav {
  float: right;
}
li.nav a {
  font-family: "times new roman", serif;
  font-size: 1.2em;
  display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

ul.nav {
    list-style-type: none;
    background-color: #349eb;
    position: fixed; /*set the navbar to fixed position*/
    top: 0; /*Position the navbar at the top of the page*/
    left: 0;
    width: 100%;
}

li.nav {
    float: right;
}

li.nav a {
  font-family: "times new roman", serif;
  font-size: 1.5em;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #1f6099;
}

ul.nodot {
  list-style-type: none;
  margin-left: 8%;
}

header.resume {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.contactinfo {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.aiexploration {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.gamedevelopment {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.mapping {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.textanalysis {
  padding-top: 5%;
  margin-top: 50px
  text-align: center;
}

header.home {
  padding-top: 5%;
  margin-top:50px;
  text-align: center;
}
