body {
  background-color: #FEFBEA;
}
h1 {
text-align:center;
color: #28112B;
font-family: "times new roman", serif;
font-size: 2em;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #C45275;
  height: 100%; /*full height*/
  position:fixed;
  overflow: auto;
}

li.nav a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: solid;
  font-size: 25px;
}

/*change the link color on hover*/
li.nav a:hover {
  background-color: #555;
  color: white;
}

header.resume {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.contactinfo {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.aiexploration {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.gamedevelopment {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.mapping {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.textanalysis {
  padding-left: 25%;
  margin-left: 70px;
  text-align: center;
}

header.home {
  padding-left: 25%;
  text-align: center;
}
